body{

    background-color: #2E446F;
    margin: 0;
    padding:0;
    font-family: "Righteous", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    }

    header{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    }

    .bv{

     margin-top: 100px;

    }

    .bvlog{

        margin-top: 50px;
   
       }

    .bv0{

        margin-top: 50px;
   
       }

    .btn{
        width: 350px;
        height: 95px;
        margin: 10px auto 0;
        color: #2E446F;
        padding: 30px 60px;
        background: #FFFFFF;
        outline: none;
        border: none;
        cursor: pointer;
        margin-top: 55px;
        border-radius: 20px;
        position: relative;
        box-shadow: 0 6px #f3aa00;
        display: flex;
        image-resolution: 25px;
        align-items: center;
        font-size: 40px;
        }

        .btn:hover {
            box-shadow: 0 4px #2E446F;
            top: 2px;
            }

        img{

        width: 50px;
        height: 50px;
        padding: 0;
        margin-left: -100;

        }

        .imgl{
        width: 50%
        }

        .version{ 
        margin-top: 100px;
        }

        .formLog{
        margin-top: 5px;
        border-radius: 20px;
        height: 100px;
        width: 200px;
        margin-right: 145px;
        margin-left: 50px;
        border-spacing: 55px;
        }

        .formLog2{
            margin-top: 5px;
            border-radius: 20px;
            height: 100px;
            width: 200px;
            margin-right: 270px;
            margin-left: 50px;
            border-spacing: 55px;
            }

        .btnsv{
            width: 300px;
            height: 55px;
            margin: 10px auto 0;
            color: #2E446F;
            padding: 30px 15px;
            background: #f3aa00;
            outline: none;
            border: none;
            cursor: pointer;
            margin-top: 55px;
            border-radius: 20px;
            position: relative;
            box-shadow: 0 6px #ffffff;
            display: flex;
            image-resolution: 25px;
            align-items: center;
            font-size: 40px;
            margin-right: 50px;
            margin-left: 65px;
            }

            .btnsv1{
                width: 300px;
                height: 55px;
                margin: 10px auto 0;
                color: #2E446F;
                padding: 30px 15px;
                background: #f3aa00;
                outline: none;
                border: none;
                cursor: pointer;
                margin-top: 55px;
                border-radius: 20px;
                position: relative;
                box-shadow: 0 6px #ffffff;
                display: flex;
                image-resolution: 25px;
                align-items: center;
                font-size: 40px;
                margin-right: 50px;
                margin-left: 65px;
                }

            .btnsv:hover{
                box-shadow: 0 4px #2E446F;
                top: 2px;
                }
            
                .btnsv1:hover{
                    box-shadow: 0 4px #2E446F;
                    top: 2px;
                    }
        
            .div1{
              display: flex;
              flex-direction: row;
            }





    