

nav{
    background-color: #FADA6B;
    height: 150px;
    position: relative;
    border-radius: 15px;
}

.nav1{
    background-color: #ffffff;
    border-radius: 15px 15px;
    height: 250px;
    width: 400px;
}


.bar2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.bttn{
    font-size: 100;
    color: #FADA6B;
    padding: 30px 80px;
    padding-top: 15px;
    background: #FFFFFF;
    outline: none;
    border: 5px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 5px #FADA6B;
    display: flex;
    flex-direction: column;
    width: 5px;
    height: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-block: 5px;

    }
    
.bttn:hover {
    box-shadow: 0 10px #FADA6B;
    top: 2px;
    }

    .btnsv{
        width: 300px;
        height: 55px;
        margin: 10px auto 0;
        color: #2E446F;
        padding: 30px 15px;
        background: #f3aa00;
        outline: none;
        border: 5px;
        cursor: pointer;
        margin-top: 55px;
        border-radius: 20px;
        position: relative;
        box-shadow: 0 6px #ffffff;
        display: flex;
        image-resolution: 25px;
        align-items: center;
        font-size: 40px;
        margin-right: 50px;
        margin-left: 65px;
        }

        .align{
            display: flex;
            flex-direction: row;
            text-align: center;
            margin-top: 70px;
            margin: 20px;
            justify-content: space-between;

        }

        .div11{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-size: cover;
            color: #fff;
            border-radius: 15px;
        }

/* New Stacking Context with Fixed */
.side-nav {
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
}

/* To hide the sub-nav */
.wrapper {
    background: rgb(99, 98, 98);
    height: 100vh;
    width: 75px;
  } 

  .div11{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;        background-size: cover;
    color: #2E446F;
    height: 170px;
    border-radius: 10px;
    font-size: xx-large;
    text-align: center;
    margin-top: px;
    padding-top: -30px;
    
}

  