body{  
    padding: 0px;
    margin: 0px;
background-color: #2E446F;
}

nav{
    background-color: #FADA6B;
    height: 350px;
    
}

.nav1{
    background-color: #ffffff;
    height: 360px;
    margin-top: 120px;
    border-radius: 15px 15px;
    text-align: center;
}

.txt{
    text-align: center;
    align-items: center;
    margin-top: 400px;
    font-size: 30px;
}

.txt1{
    text-align: center;
    margin-top: 60px;
}

.version{
    margin-top: 150px;
    text-align: center;
}

.bar2{
    display: flex;
    flex-direction: row;
    white-space: 200px;
    justify-content: space-between;
}

h1{
color: #FADA6B;
}

h3{
    color: #ffffff;
}

.bttn{
    margin: 10px auto 0;
    font-size: 300;
    color: #FADA6B;
    padding: 25px 80px;
    background: #FFFFFF;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 6px #FADA6B;
    margin-left: 440px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    width: 250px;
    text-align: center;
    justify-content: center;
    align-items: center;

    }
    
.bttn:hover {
    box-shadow: 0 4px #FADA6B;
    top: 2px;
    }