body{

background-color: #2E446F;
margin: 0;
padding:0;
font-family: "Righteous", sans-serif;
text-align: center;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
align-items: center;

}



header{
text-align: center;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
}

.bv{
margin-top: 50px;
}

.img{
    height: 300px;
    width: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
}

.btn{
display: block;
margin: 10px auto 0;
font-size: 300;
color: #2E446F;
padding: 25px 80px;
background: #FFFFFF;
outline: none;
border: none;
cursor: pointer;
border-radius: 20px;
position: relative;
box-shadow: 0 6px #f3aa00;
margin-left: 25px;
margin-top: 350px;
display: flex;
flex-direction: column;
width: 250px;
}

.btn1{
    display: block;
    margin: 10px auto 0;
    font-size: 300;
    color: #2E446F;
    padding: 25px 80px;
    background: #FFFFFF;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 6px #f3aa00;
    margin-left: 25px;
    margin-top: 450px;
    display: flex;
    flex-direction: column;
    width: 250px;
    }

.btn:hover {
box-shadow: 0 4px #2E446F;
top: 2px;
}

.btn1{
    display: block;
    margin: 10px auto 0;
    font-size: 300;
    color: #2E446F;
    padding: 25px 80px;
    background: #FFFFFF;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 6px #f3aa00;
    margin-left: 25px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 250px;
    text-align: center;
    justify-content: center;
    align-items: center;

    }
    
.btn1:hover {
    box-shadow: 0 4px #2E446F;
    top: 2px;
    }

    .btn2{
        display: block;
        margin: 10px auto 0;
        font-size: 300;
        color: #2E446F;
        padding: 25px 80px;
        background: #FFFFFF;
        outline: none;
        border: none;
        cursor: pointer;
        border-radius: 20px;
        position: relative;
        box-shadow: 0 6px #f3aa00;
        margin-left: 25px;
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        width: 250px;
        text-align: center;
        justify-content: center;
        align-items: center;
    
        }
        
    .btn2:hover {
        box-shadow: 0 4px #2E446F;
        top: 2px;
        }

        .btn3{
            display: block;
            margin: 10px auto 0;
            font-size: 300;
            color: #2E446F;
            padding: 25px 80px;
            background: #FFFFFF;
            outline: none;
            border: none;
            cursor: pointer;
            border-radius: 20px;
            position: relative;
            box-shadow: 0 6px #f3aa00;
            margin-left: 25px;
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            width: 250px;
            text-align: center;
            justify-content: center;
            align-items: center;
        
            }
            
        .btn3:hover {
            box-shadow: 0 4px #2E446F;
            top: 2px;
            }